.avatar {
  width: 180px; /* any equal width/height */
  height: 180px;
  object-fit: cover; /* keep aspect-ratio & crop overflow */
  border-radius: 50%; /* full circle */
}

/* Icon */
.icon-experince {
  font-size: 50px;
}

/* Slider */
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
}

.swiper {
  width: 600px;
  height: 300px;
}

.card-swiper {
  background-color: rgba(255, 255, 255, 0);
  border-color: #ffffff85;
}
